@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
 --pc: #0266F4;
 --sc: #F3F4F4;
 --acc: #0082F4;

}

.logo-text{
  color: var(--pc);
}

/* HERO BACKGROUND */
#hero{
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../public/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*hero designs*/

#hero .t1{
  color: var(--acc);
  margin-bottom: 30px;


}
#hero .t2{
  color: var(--sc);
  font-size: 1.3rem;
  margin-bottom: 30px;
}
#hero .t3{
  color: var(--acc);
  font-size: 1.7rem;
}

.txt{
  color: var(--pc);
}
.btn1{
  color: var(--acc);
  border: 1px solid var(--acc);
}
.btn1:hover{
  color: var(--sc);
  background: var(--acc);
  transform: scale(1.1);
}

.abt{
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card{
  border-color: var(--acc);
}
.card{
  border-color: var(--acc);
}

.soc{
  color: var(--sc);
  border-color: var(--acc);
  transition: 0.3s ease-in-out;
}
.soc:hover{
  color: var(--acc);
  border-color: var(--pc);
  background: var(--sc);
}